In [73]:
#import pandas
import pandas as pd

#little tutorial for help
#https://medium.com/@ageitgey/quick-tip-the-easiest-way-to-grab-data-out-of-a-web-page-in-python-7153cecfca58

#scrap the first dataset and get the Hofstede cultural dimension data 
df = pd.read_html("http://www.clearlycultural.com/geert-hofstede-cultural-dimensions/masculinity/", header=0)

#save first table on page as df1
df1 = (df[1])

#Remove column 0 from table df1 and save cleaned table to df2
df2 = df1[1:]

#print the head of the table df2
print (df2.head(10))

#save df2 table as hofstede.csv
df2.to_csv('hofstede.csv')

        Country   PDI   IDV   MAS   UAI    LTO
1         Japan  54.0  46.0  95.0  92.0   80.0
2       Hungary  46.0  55.0  88.0  82.0    NaN
3       Austria  11.0  55.0  79.0  70.0    NaN
4     Venezuela  81.0  12.0  73.0  76.0    NaN
5         Italy  50.0  76.0  70.0  75.0    NaN
6   Switzerland  34.0  68.0  70.0  58.0    NaN
7        Mexico  81.0  30.0  69.0  82.0    NaN
8       Ireland  28.0  70.0  68.0  35.0    NaN
9       Jamaica  45.0  39.0  68.0  13.0    NaN
10        China  80.0  20.0  66.0  40.0  118.0

In [74]:
#scrap the second dataset and get the gender gap wage (ggw) data from wikipedia
dfggw = pd.read_html("https://en.wikipedia.org/wiki/Gender_pay_gap", header=0)

#save desired table of the page as dfggw1
dfggw1 = (dfggw[1])

#Select the desired data from table dfggw1 and save cleaned table as dfggw2
dfggw2 = dfggw1[1:]

#print the head of the table dfggw2
print (dfggw2.head(10))

#save dfgwg2 table as gender_gap_wage.csv
dfggw2.to_csv('gender_gap_wage.csv')

           Country  Gender gap  Year
1          Austria       17.73  2014
2          Belgium        5.91  2013
3           Canada       18.63  2015
4            Chile       16.67  2013
5   Czech Republic       16.46  2013
6          Denmark        6.77  2013
7          Estonia       26.60  2010
8          Finland       19.61  2014
9           France       13.67  2012
10         Germany       17.08  2014

In [75]:
#opens dataset hofstede.csv
hos = pd.read_csv('hofstede.csv', index_col=0)

#print the head of hofstede.csv
print(hos.head(5))

#prints dataset hofstede.csv
ggw = pd.read_csv('gender_gap_wage.csv', index_col=0)

print (ggw.head(5))

#merges two datasets: gender gap wage and hofstede.csv on 'Country'
dataset = pd.merge(hos, ggw, on=['Country'])
print(dataset.head(10))

#Saves dataset as data.csv
dataset.to_csv('data.csv')

     Country   PDI   IDV   MAS   UAI   LTO
1      Japan  54.0  46.0  95.0  92.0  80.0
2    Hungary  46.0  55.0  88.0  82.0   NaN
3    Austria  11.0  55.0  79.0  70.0   NaN
4  Venezuela  81.0  12.0  73.0  76.0   NaN
5      Italy  50.0  76.0  70.0  75.0   NaN
          Country  Gender gap  Year
1         Austria       17.73  2014
2         Belgium        5.91  2013
3          Canada       18.63  2015
4           Chile       16.67  2013
5  Czech Republic       16.46  2013
          Country   PDI   IDV   MAS   UAI   LTO  Gender gap  Year
0           Japan  54.0  46.0  95.0  92.0  80.0       25.87  2014
1         Hungary  46.0  55.0  88.0  82.0   NaN        9.52  2015
2         Austria  11.0  55.0  79.0  70.0   NaN       17.73  2014
3           Italy  50.0  76.0  70.0  75.0   NaN        5.56  2014
4     Switzerland  34.0  68.0  70.0  58.0   NaN       14.50  2014
5          Mexico  81.0  30.0  69.0  82.0   NaN       16.67  2015
6         Ireland  28.0  70.0  68.0  35.0   NaN       15.17  2014
7         Germany  35.0  67.0  66.0  65.0  31.0       17.08  2014
8  United Kingdom  35.0  89.0  66.0  35.0  25.0       16.93  2015
9          Poland  68.0  60.0  64.0  93.0   NaN       11.07  2014

In [72]:
ls

config.py  gender_gap_wage.csv  Hofstede Cultural Dimensions Project.ipynb
data.csv   hofstede.csv